@import "./global/reset";

@import "./mixins/forSize";

@import "./scss/Header";
@import "./scss/ShoppingBag";
@import "./scss/Article";
@import "./scss/Login";
@import "./scss/Cite";
@import "./scss/Packs";

@import "./scss/Recommandation";

html {
  font-size: 62.5%;
  width: 100%;
}

body{
  font-family: Copperplate, sans-serif;
}
