@import "./global/reset";

@import "./mixins/forSize";

@import "./scss/Header";
@import "./scss/Promo";
@import "./scss/Login";


html {
  font-size: 62.5%;
  width: 100%;
}

body{
  font-family: Copperplate, sans-serif;
}
