.promo{
  width: 83%;
  margin: 0 auto;
  padding: 53px 0 0;
  .login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8%;
    cursor: pointer ;
  }
  .loginText{
    font-size: 2.1rem;
    font-weight: 300;
    color: #9B9B9B;

  }
}

.articleContainer{
  position: relative;
  .article{
    width: 41%;
    height: 400px;
    box-shadow: 0 -6px 40px 0 rgba(192,192,192,0.50);
    text-align: center;
    font-weight: 300;
    margin: 15% 0;
    padding: 1%;
    background: #fff;
    &Title{
      font-size: 3.2rem;
      width: 50%;
      margin: 0 auto;
    }
    &Text{
      font-size: 1.8rem;
      margin: 0 auto;
      line-height: 2.8rem;
      padding: 50px 0;
      width: 95%;
    }
  }
  .articleImg{
    position: absolute;
    z-index: -1;
    top: -40px;
    right: 0;
  }
}
