.header{
  height: 130px;
  width: 100%;
  box-shadow: 0 -8px 36px 0 rgba(0,0,0,0.50);
  display: flex;
  align-items: center;
}

.navBar{
  display: flex;
  justify-content: space-between;
  width: 87.5%;
  margin: 0 auto;
  &-left{
    display: flex;
    align-items: center;
  }
  &-right{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.1rem;
    color: #212121;
    .navItems{
      cursor: pointer;
    }
    .navItems:hover{
      color: #50e3c2;
    }
    .navShoppingBag{
      cursor: pointer;
    }
    .navBurgerMenu{
      cursor: pointer;
      width: 16%;
      background: #4A4B4A;
      height: 223px;
      flex-direction: column;
      overflow: auto;
      display: flex;
      text-align: center;
      padding-top: 50px;
    }
    .navBurgerLine{
      padding: 62px 0 45px 0;
      height: 100%;
      width: 60%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      &-item{
        height: 100%;
        width: 1px;
        background: #fff;

      }
      .middle{
        height: 80%;
        transition: 0.2s ease;
      }
    }
    .navBurgerLine:hover{
      .middle{
        height: 100%;
      }
    }
    .navBurgerText{
      font-size: 2rem;
      color: #fff;
      padding-bottom: 32px;
    }
  }
}
