a{
  text-decoration: none;
}

.packs{
  &Item{
    border: 1px solid #969696;
    width: 50%;
    height: 200px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &ItemTitle{
    font-size: 2rem;
    color: black;
  }

  &ItemDesc{
    font-size: 1.5rem;
    color:#8F928F;
    padding: 1% 0;
  }

  &ItemPrice{
    font-size: 2rem;
    margin-top: 10px;
    color: black;
  }
}
.personalized{
  transition: 1s ease;
}
.personalized:hover{
  background-color: #4A4B4A;
}
.personalizedTitle{
  color: #50E2C1;
}
