a{
  text-decoration: none;
}

.packs{
  padding: 10% 0;

  &Container{
    margin-left: 30%;
  }


  &Item{
    border: 1px solid #969696;
    width: 50%;
    height: auto;
    margin-top: 40px;
    text-align: center;
    padding: 30px 0;
  }

  &ItemTitle{
    font-size: 2rem;
    text-align: center;
    color: black;
  }

  &ItemDesc{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 5px;
    color:#8F928F;
  }

  &ItemPrice{
    font-size: 2rem;
    text-align: center;
    margin-top: 10px;
    color: black;
  }
}
.personalized{
  padding: 40px 0;
  transition: 1s ease;
}
.personalized:hover{
  background-color: #4A4B4A;
  transition: 1s ease;
}
.personalizedTitle{
  color: #50E2C1;
}
