.promo{
  width: 83%;
  margin: 0 auto;
  padding: 53px 0 165px;
  .login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8%;
    cursor: pointer ;
  }
  .loginText{
    font-size: 2.1rem;
    font-weight: 300;
    color: #9B9B9B;

  }
}